## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Lamu,KE,79.02,light rain,-2.2717,40.9020,Lamu House
1,6,Daru,PG,76.95,moderate rain,-9.0763,143.2092,Daru Lodge
2,11,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,Paradise Inn
3,19,Hirara,JP,82.67,scattered clouds,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
4,23,Hithadhoo,MV,83.57,scattered clouds,-0.6000,73.0833,Scoop Guest House

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>"
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[(vacation_df["City"] == "Pacific Grove")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Pacific Grove")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Flagstaff")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Wilmington")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Freeport")]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
165,570,Pacific Grove,US,80.46,clear sky,36.6177,-121.9166,Lovers Point Inn

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(start, end, stop1, stop2, stop3)

(36.6177, -121.9166) (36.6177, -121.9166) (35.1981, -111.6513) (34.2257, -77.9447) (40.6576, -73.5832)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
cities_route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode= "DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(cities_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,570,Pacific Grove,US,80.46,clear sky,36.6177,-121.9166,Lovers Point Inn
1,587,Flagstaff,US,83.32,clear sky,35.1981,-111.6513,Drury Inn & Suites Flagstaff
2,301,Wilmington,US,84.11,clear sky,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
3,223,Freeport,US,82.38,clear sky,40.6576,-73.5832,The Freeport Inn and Marina

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
route_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
Vacation = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(Vacation, info_box_content=route_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))